#sidebar-hr {
  border-color:#BAB8B8;
  width:75%;
}

.patient-toggle {
  display:flex;
  float:right;
}

#mainb {
  height:350px;
}

#mainc {
  height:350px;
}

#h3-goal {
  text-align:center;
}

#ecdonut {
  height:300px;
}

.x_title.donut h2 {
  overflow: visible !important;
}

#red {
  color:red;
}

#reportrange {
  background: #fff; 
  cursor: pointer; 
  padding: 5px 10px; 
  border: 1px solid #ccc;
  display:inline;
}

.icon-padding {
  padding-right:8px;
}

#overflow {
  overflow: visible !important;
}

#italics {
  font-style: "italic" !important;
}

/* TEST CHART STUFF */
.test_chart {
  height: 250px;
}

label {
  display: block;
}

.last_checkup {
  font-weight: bold;
  font-size: 120%;
}

.datepicker-inline {
  display: inline-block;
  padding-right: 10px;
}

.date-from, .date-to {
  font-weight:bold;
}

.float-right {
  float: right;
}

.dropdown {
  list-style: none;
}

.fitbit-badge {
  color: white !important;
  background-color: #42a3b8;
  margin-top: 10px;
}

/* GOAL STUFF */

.goal-progress-button button:first-child, .goal-progress-button div:first-child{
  width: 100%;
}

.gpb-0 {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 10px;

}

.gpb-0 a:first-child {
  color: #750000 !important;
}

.gpb-1 {
  text-align: center;
  padding-bottom: 10px;
}

.gpb-1 a:first-child{
  color: #D12900 !important;
}

.gpb-2 {
  text-align: center;
  padding-bottom: 10px;
}

.gpb-2 a:first-child{
  color: #D69806 !important;
}

.gpb-3 {
  text-align: center;
  padding-bottom: 10px;
}

.gpb-3 a:first-child{
  color: #73BD3A !important;
}

.gpb-4 {
  text-align: center;
}

.gpb-4 a:first-child{
  color: #3B9817 !important;
}

.gpb-5 {
  text-align: center;
  font-weight: bold;
  padding-bottom: 10px;
}

.fill-brown{
  color: white;
  background-color: #8E2E2E !important;
}
.fill-red{
  color: white;
  background-color: #E74C3C !important;
}
.fill-orange{
  color: white;
  background-color: #DDAA33 !important;
}
.fill-light-green{
  color: white;
  background-color: #73BD3A !important;
}
.fill-dark-green{
  color: white;
  background-color: #4CA12C !important;
}

.goal-progress-dropdown, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
  color: white !important;
}

.goal-progress-dropdown {
  font-size: 13px !important;
}

.option-overflow {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

/* .btn-add-subgoal {
  width: 100%;
  background-color: white;
  text-align: center;
  border-width: 3px;
  border-color: whitesmoke;
} */
